.cards-container{
    display: grid;
    grid-template-rows: auto 1fr 1fr auto;
    gap: 8px;
    width: 300px;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.product-photo{
    display: block;
    margin: auto;
}
.buy-button{
    float: right;
}
.device-name{
    text-decoration: solid;
}